- model_class = Champion
.page-header
  %h1= @champion.name + ' - ' + @champion.title.capitalize

%p
  .panel.panel-default
    .panel-heading
      %strong= model_class.human_attribute_name(:lore)
    .panel-body
      = @champion.lore

%p
  .panel.panel-default
    .panel-heading
      %strong= model_class.human_attribute_name(:info)
    .panel-body
      - @champion.info.keys.each do |key|
        - width = @champion.send("info_#{key}") * 10
        .progress
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => @champion.send("info_#{key}"), :role => "progressbar", :style => "width: #{width}%;" }
            = key.to_s

%p
  .panel.panel-default
    .panel-heading
      %strong= model_class.human_attribute_name(:spells)
    .panel-body
      - @champion.spells_simplified.each do |key, value|
        %p
          %strong= key + ':'
          %span= value

%p
  .panel.panel-default
    .panel-heading
      %strong= model_class.human_attribute_name(:passive)
    .panel-body
      %strong= @champion.passive_name + ':'
      %span= @champion.passive_description



= link_to t('.back', :default => t("helpers.links.back")), champions_path, :class => 'btn btn-default'